{% extends 'main/main.html' %}
{% block content %}

<div class="header">
    <h1>Welcome to ShowShelf</h1>
</div>

<div class="body">
    <form method="post">
        {% csrf_token %}
        {{form.as_p}}
        <input style="margin-top: 15px; margin-bottom: 10px;" class="button" type="submit" value="Login">
    </form>

    <p>Don't have an account? <a href="{% url 'register' %}">Sign up!</a></p>

</div>

<div>
    <img src="https://t3.ftcdn.net/jpg/04/95/56/80/360_F_495568091_8u6Pj9a4w1KoZGsGPQiW9UrQR6K2NNRG.jpg" alt="shelf">
</div>

{% endblock content %}